body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
header{
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}
header img{
    width: 150px;
    height: 210px;
    border-radius: 50%;
    float: left;
    display: block;
    margin: 0 auto 10px;
}
section{
    padding: 20px;
    margin: 10px;
    background-color: white;
    border-radius: 8px;
}
h2{
    color: #333;
}
form, input, form textarea{
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 8px;   
}
button{
    background-color: #333;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}
footer{
    text-align: center;
    padding: 10px;
    background-color: #ddd;
}