.projects {
  width: 70%;
  margin-left: auto;
  padding: 80px;
}

.project-item {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
  border-bottom: 1px solid rgba(255,255,255,0.3);
  color: white;
  text-decoration: none;
}

.project-title {
  font-size: 26px;
  font-weight: 600;
}

.project-type {
  opacity: 0.7;
}

/* PREVIEW */
.project-preview {
  position: absolute;
  right: 120%;
  top: 50%;
  transform: translateY(-50%) scale(0.95);
  width: 280px;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s ease;
}

.project-preview img {
  width: 100%;
  border-radius: 8px;
}

/* HOVER */
.project-item:hover .project-preview {
  opacity: 1;
  transform: translateY(-50%) scale(1);
}
.project-item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: white;
  transition: 0.3s;
}

.project-item:hover::after {
  width: 100%;
}
