.sidebar {
  position: fixed;
  top: 70;
  left: 0;
  width: 0;
  height: 100%;
  background-color: none;
  overflow-x: hidden;
  transition: 0.3s;
  padding-top: 60px;
}

.sidebar a {
  display: block;
  padding: 10px 10px;
  color: black;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

.sidebar a:hover {
  background: linear-gradient(-45deg, #7373ac, #2c2c3f, #3a3a4f, #1e1e2f);
  color: #fff;
}

.menu-btn {
  position: fixed;
  top: 5px;
  left: 10px;
  background: none;
  color: white;
  border: none;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 50%;

}

.content {
  margin-left: 20px;
  padding: 20px;
}

.animated-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(-45deg, #1e1e2f, #2c2c3f, #3a3a4f, #1e1e2f);
  background-size: 400% 400%;
  animation: gradientMove 15s ease infinite;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

#tsparticles {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
}